* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --textColorPrimary: rgb(250, 122, 56);
    --textColorPrimary_75: rgb(250, 122, 56, 0.75);
    --textColorSecundary: rgb(84, 97, 171);
    
    --btnColor: rgba(250, 121, 56, 0.5);
    
    --background-dark: rgb(40, 42, 54);
    --backgroundCards-dark: rgb(140, 155, 245, 0.15);
    --textColor-dark: rgb(245, 237, 237);
    --borderColor-dark: rgb(245, 237, 237);

    --fontPrincipal: 'JetBrains Mono', monospace;
}

body {
    background-color: var(--background-dark);
    
    font-family: var(--fontPrincipal);
    color: var(--textColor-dark);
}

main {
    max-width: 700px;

    margin: 22px auto 0;
}

main header {
    padding: 0 22px;
    max-width: 700px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1.5px solid var(--borderColor-dark);
    border-radius: 12px;
    color: var(--textColorPrimary);
}

header .projects {
    display: flex;
    align-items: center;

    gap: 6px;
}

header .projects .ph-code {
    font-size: 20px;
}

main .infos {
    margin: 18px 0;
}

main .infos .profile {
    margin: 0 auto 12px;

    text-align: center;
}

.infos .buttons {
    display: flex;
    justify-content: center;

    gap: 20px;
}

.infos .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    width: 170px;
    height: 43px;

    background-color: var(--btnColor);
    border: none;
    border-radius: 48px;

    color: var(--textColor-dark);
    font-family: var(--fontPrincipal);
}

.buttons button i {
    font-size: 22px;
}

main h3 {
    color: var(--textColorSecundary);
    font-weight: 900;

    margin-bottom: 5px;
}

.infos .bio {
    margin-top: 16px;
}

.bio .email {
    display: flex;
    align-items: center;

    gap: 3px;
    margin-top: 12px;

    color: var(--textColorPrimary_75);
}

main .repos {
    height: 200px;
}

main .repos .reposCards {
    display: flex;
    justify-content: center;

    gap: 20px;
}

.repos .repoCard {
    width: 323px;
    height: 125px;

    background-color: var(--backgroundCards-dark);

    border: 1px solid var(--borderColor-dark);
    border-radius: 10px;
}

.repos a.seeMore {
    margin-top: 4px;
}

