* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-size: 18px;
}

:root {
  --textColorPrimary: rgb(250, 122, 56);
  --textColorPrimary_75: rgb(250, 122, 56, 0.75);
  --textColorSecundary: rgb(84, 97, 171);
  --textColorTertiary: rgb(6, 226, 213);
  
  --btnColor: rgba(250, 121, 56, 0.5);
  
  --background-dark: rgb(40, 42, 54);
  --backgroundCards-dark: rgb(140, 155, 245, 0.15);
  --textColor-dark: rgb(245, 237, 237);
  --borderColor-dark: rgb(245, 237, 237);

  --fontPrincipal: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--background-dark);
  
  font-family: var(--fontPrincipal);
  color: var(--textColor-dark);
}

main {
  max-width: 700px;

  margin: 22px auto 0;
}

main header {
  padding: 0 22px;
  max-width: 700px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1.5px solid var(--borderColor-dark);
  border-radius: 12px;
  color: var(--textColorPrimary);
}

header h2 {
  font-size: 1.3rem;
}

header .projects {
  display: flex;
  align-items: center;

  gap: 6px;

  color: var(--textColorTertiary);
}

header .projects p {
  font-size: .85rem;
}

header .projects .ph-code {
  font-size: 20px;
}