* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;  /* 62.5% = 10px */
  
  --colorPrimary: rgb(250, 122, 56);
  --colorPrimary_75: rgb(250, 122, 56, 0.75);
  --colorSecundary: rgb(84, 97, 171);
  --colorTertiary: rgb(6, 226, 213);
  
  --btnColor: rgba(250, 121, 56, 0.5);
  
  --background-dark: rgb(40, 42, 54);
  --backgroundCards-dark: rgb(140, 155, 245, 0.15);
  --textColor-dark: rgb(245, 237, 237);
  --textColor-dark_20: rgb(245, 237, 237, 0.2);
  --borderColor-dark: rgba(245, 237, 237, 0.6);

  --fontPrincipal: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--background-dark);
  
  font-family: var(--fontPrincipal);
  color: var(--textColor-dark);
}

main {
  max-width: 70rem;

  margin: 22px auto;
}

main header {
  padding: 0 22px;
  max-width: 100vw;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1.5px solid var(--borderColor-dark);
  border-radius: 12px;
}

header a {
  display: flex;
  align-items: center;

  text-decoration: none;
}

header a img {
  height: 100%;
}

header .projects a {
  display: flex;
  align-items: center;

  gap: 6px;

  color: var(--colorTertiary);

  text-decoration: none;
}

header .projects p {
  font-size: 1.6rem;
}

header .projects .ph-code {
  font-size: 20px;
}

main h2 {
  color: var(--colorSecundary);
  font-size: 2rem;
  font-weight: 900;
}

main p {
  font-size: 1.4rem;
}
