@import url(global.css);

main .infos {
    margin: 18px 0;
}

main .infos .profile {
    margin: 0 auto 12px;

    text-align: center;
}

.infos .buttons {
    display: flex;
    justify-content: center;

    gap: 20px;
}

.infos .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    width: 170px;
    height: 43px;

    background-color: var(--btnColor);
    border: none;
    border-radius: 48px;

    color: var(--textColor-dark);
    font-family: var(--fontPrincipal);
}

.buttons button i {
    font-size: 22px;
}

main h3 {
    color: var(--textColorSecundary);
    font-weight: 900;

    margin-bottom: 5px;
}

.infos .bio {
    margin-top: 16px;
}

.bio .email {
    display: flex;
    align-items: center;

    gap: 3px;
    margin-top: 12px;

    color: var(--textColorPrimary_75);
}

main .repos {
    height: 200px;
}

main .repos a {
    display: block;
    text-align: end;

    margin-right: calc(700px - 680px);

    font-size: .8rem;
    color: var(--textColorTertiary);
}

main .repos .reposCards {
    display: flex;
    justify-content: center;

    gap: 20px;
}

.repos .repoCard {
    width: 323px;
    height: 155px;

    background-color: var(--backgroundCards-dark);

    border: 1px solid var(--borderColor-dark);
    border-radius: 10px;
}

.repos a.seeMore {
    margin-top: 4px;
}

.repos .repoCard {
    padding: 10px
}

.repoCard .description {
    margin-top: 4px;
    font-size: .7rem;
}