@import url(global.css);

main .infos {
    margin: 18px 0;
}

main .infos .profile {
    margin: 0 auto 12px;

    text-align: center;
}

.infos .profile #nickName {
    font-size: 2rem;
}

.infos .buttons {
    display: flex;
    justify-content: center;

    gap: 20px;
}

.infos .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    width: 170px;
    height: 43px;

    background-color: var(--btnColor);
    border: none;
    border-radius: 48px;

    color: var(--textColor-dark);
    font-family: var(--fontPrincipal);
}

.buttons button i {
    font-size: 22px;
}

.infos .bio {
    margin-top: 16px;
}

.bio .email {
    display: flex;
    align-items: center;

    gap: 3px;
    margin-top: 12px;

    color: var(--colorPrimary_75);
}

.bio .email .ph-envelope {
    font-size: 2.4rem;
}


